<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <header th:fragment="header" class="header">

		<div class="header__title">
			<div class="header__title-logo"></div>
			<span class="header__title-text">Redd<span class="header__title-text header__title-text--primary-color">i</span>tClone</span>
		</div>
	
		<div class="header__search">
			<label for="search" class="header__search-bar header__search-bar--hover">
				<span class="header__search-icon material-icons">search</span>
				<input id="search" class="header__search-input" placeholder="Search Reddit Clone">
			</label>
		</div>
	
		<div th:if="${session.user == null}" class="header__login">
			<a class="header__login-anchor header__login-anchor--outlined header__login-anchor--outlined-hover" href="login">Log In</a>
			<a class="header__login-anchor header__login-anchor--prominent header__login-anchor--prominent-hover" href="register">Sign Up</a>
		</div>
	
		<div th:if="${session.user != null}" class="header__user">
			<span class="header__user-icon material-icons md-36">account_circle</span>
			<span class="header__user-username" th:text="${session.user.getUsername()}"></span>
			<span class="header__user-sign-out material-icons">logout</span>
		</div> 
	</header>
</body>