@charset "UTF-8";
:root {
    --primary-dark: #222222;
    --secondary-dark: #343434;
    --tertiary-dark: #494949;
    --primary-color: #dd510b;
    --secondary-color: #b23b0c;
}

body {
    min-height: 100vh;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h2 {
    margin: 0;
}

p {
    margin: 0;
}

a {
    color: blue;
}

button {
    background-color: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

input {
    background: none;
    border: none;
    padding: 0;
    outline: none;
}

.align-center {
    display: flex;
    align-items: center;
}

.justify-right {
    display: flex;
    justify-content: right;
}

.justify-center {
    display: flex;
    justify-content: center;
}

.primary-button {
    background-color: var(--primary-color);
    color: white;
    border-radius: 4rem;
    cursor: pointer;
    font-weight: bold;
}

.primary-button:hover {
    background-color: var(--secondary-color);
}

.medium-font {
    font-size: medium;
}
