.post {
    position: relative;
    margin: 2rem;
}

.post__header {
    display: flex;
}

.post__header-text {
    color: var(--tertiary-bright);
}

.post__header-text--end {
    margin-left: auto;
}

.post__title {
    font-size: large;
    font-weight: bold;
    cursor: pointer;
}

.post__title--hover:hover {
    text-decoration: underline;
}

.post__content {
    overflow: hidden;
    text-align: justify;
}

.post__stats {
    display: flex;
}

.post__stats-element {
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    cursor: default;
}