@charset "UTF-8";

nav {
    background-color: var(--primary-dark);
    padding: 0 1.5rem;
    height: 64px;
    display: grid;
    grid-template-columns: 2fr 7fr 2fr;
}

nav > * {
    height: 64px;
    padding: 0 1rem;
}

.circle {
    background-color: var(--primary-color);
    height: 3rem;
    width: 3rem;
    border-radius: 2rem;
}

#login-page-button {
    padding: 0.5rem 1rem;
    height: calc(100% - 1rem);
}

#logo-container {
    grid-column: 1 / 2;
    height: 64px;
}

#logo {
    color: white;
    font-size: x-large;
    cursor: pointer;
}

#logo > span {
    margin-left: 0.5rem;
}

#search-bar-container {
    padding: 0 4rem;
}

label[for=search-bar] {
    background-color: var(--secondary-dark);
    padding: 0 1rem;
    height: calc(100% - 1rem);
    width: 70%;
    border-radius: 2rem;
    color: white;
    display: flex;
}

label[for=search-bar]:hover {
    background-color: var(--tertiary-dark);
}

label[for=search-bar] > * {
    margin-left: 0.5rem;
    height: 1.5rem;
    vertical-align: middle;
}

#search-bar {
    flex-grow: 1;
    color: white;
    font-size: medium;
}

#username {
	max-width: 10rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
