<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Reddit Clone</title>
	<!--sciezka vscode-->
	<!-- <link rel="stylesheet" type="text/css" href="../static/css/default.css">
	<link rel="stylesheet" type="text/css" href="../static/css/style.css">
	<link rel="stylesheet" type="text/css" href="../static/css/community-fragment.css">
	<link rel="stylesheet" type="text/css" href="../static/css/material-icons.css"> -->

	<!--sciezka eclipse-->
	<link rel="stylesheet" type="text/css" href="/css/default.css">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<link rel="stylesheet" type="text/css" href="/css/community-fragment.css">
	<link rel="stylesheet" type="text/css" href="/css/material-icons.css">
	
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
</head>

<body>

	<header th:replace="~{fragments/header :: header}"></header>

	<!-- Tymczasowy header -->
	<!-- <header style="height: 64px; background-color: var(--primary-dark);"></header> -->
	
	<div class="main-container">
		<aside></aside>

		<main class="community">
			<div class="community__header">
				<div class="community__baner"></div>
				<div class="community__logo"></div>
				<div class="community__title">Społeczność o kotach</div>
				<div class="community__description">
					<p>Cats are fascinating creatures. With their graceful movements and curious nature, they effortlessly captivate our hearts. Whether they are lounging lazily in the sun or chasing after imaginary prey, their charm is undeniable.

						The domestic cat, scientifically known as Felis catus, has been a companion to humans for centuries. These independent and sometimes mysterious animals have a way of making themselves at home in our lives. From the playful antics of kittens to the regal demeanor of older cats, each feline has a unique personality.
						
						Cats are known for their agility and keen senses. Their whiskers twitch as they navigate the world around them, and their soft purring provides comfort to those lucky enough to be in their presence. A cat's eyes, with their slitted pupils, reflect a sense of mystery and intelligence.
						
						In literature and folklore, cats often symbolize different qualities, ranging from cunning and independence to luck and mystery. Stories of magical or talking cats have been told across cultures, adding to the allure that surrounds these enigmatic creatures.
						
						Whether you're a cat owner or an admirer of these beautiful animals, the charm of cats is universal. Their presence brings joy and warmth to countless households, making them beloved companions and inspiring creativity in the hearts of many.
						</p>
				</div>
				<div class="horizontal-line"></div>
				<div class="community__stats">
					<div class="community__stats-element">Members: 12</div>
					<div class="community__stats-element">Posts: 25</div>
				</div>
				<div class="community__add-post community__add-post--hover"><span class="material-icons">add</span>Add post</div>
			</div>

			<div class="post">

			</div>
		</main>
	</div>
	

</body>

</html>