<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Reddit Clone</title>
	<!--sciezka vscode-->
	<link rel="stylesheet" type="text/css" href="../static/css/default.css">
	<link rel="stylesheet" type="text/css" href="../static/css/style.css">
	<link rel="stylesheet" type="text/css" href="../static/css/community.css">
	<link rel="stylesheet" type="text/css" href="../static/css/post.css">
	<link rel="stylesheet" type="text/css" href="../static/css/comment.css">
	<link rel="stylesheet" type="text/css" href="../static/css/material-icons.css">

	<!--sciezka eclipse-->
	<!-- <link rel="stylesheet" type="text/css" href="/css/default.css">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<link rel="stylesheet" type="text/css" href="/css/community.css">
	<link rel="stylesheet" type="text/css" href="/css/post.css">
	<link rel="stylesheet" type="text/css" href="/css/comment.css">
	<link rel="stylesheet" type="text/css" href="/css/material-icons.css"> -->
	
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
</head>

<body>

	<header th:replace="~{fragments/header :: header}"></header>

	<!-- Tymczasowy header -->
	<header style="height: 64px; background-color: var(--primary-dark); position: sticky; top: 0; left: 0; z-index: 2;"></header>
	
	<div class="main-container">
		<aside></aside>

		<div class="view">
			<div class="post">
				<div class="post__header">
					<span class="post__owner-logo"></span>
					<div class="post__header-info">
						<div class="post__header-short">
							<span class="post__header-text">Cats</span>
							<span class="post__header-text post__header-text--end">7h ago</span>
						</div>
						<span class="post__header-text">Kocifan</span>
					</div>
				</div>
				<span class="post__title post__title--hover">Funny cat</span>
				<div class="post__content">Funny cats are the ultimate mood boosters. From their playful antics to unpredictable behavior, these furry comedians keep us entertained. Whether they're chasing laser dots, getting into mischievous antics, or simply making silly faces, funny cats have a unique talent for bringing joy and laughter into our lives. With their quirky personalities and hilarious expressions, they remind us to appreciate the lighter side of life.
				</div>
				<div class="post__stats">
					<div class="post__stats-element">
						<span class="material-icons">thumb_up_alt</span>
						&nbsp
						64
					</div>
					<div class="post__stats-element">
						<span class="material-icons">thumb_down_alt</span>
						&nbsp
						8
					</div>
					<div class="post__stats-element">
						<span class="material-icons">question_answer</span>
						&nbsp
						128
					</div>
				</div> 
				<div class="post__add-comment post__add-comment--hover"><span class="material-icons">add</span>Add Comment</div>
			</div>

			<div class="comment">
				<div class="comment__owner-logo"></div>
				<div class="comment__info">
					<span class="comment__info-text">Psifan</span>
					<span class="comment__info-text comment__info-text--end">3h ago</span>
				</div>
				<div class="comment__content">Cats, with their graceful agility and enigmatic personalities, bring a delightful mystique to our homes. Their purring companionship and playful antics create an irreplaceable bond, making them beloved members of the family. In their aloof charm, cats subtly assert their place as the rulers of our hearts.</div>
			</div>
		</div>

		<!-- <div class="view">
			<div class="community">
				<div class="community__baner"></div>
				<div class="community__logo"></div>
				<div class="community__title">Społeczność o kotach</div>
				<div class="community__description">
					<p>Cats are fascinating creatures. With their graceful movements and curious nature, they effortlessly captivate our hearts. Whether they are lounging lazily in the sun or chasing after imaginary prey, their charm is undeniable.

						The domestic cat, scientifically known as Felis catus, has been a companion to humans for centuries. These independent and sometimes mysterious animals have a way of making themselves at home in our lives. From the playful antics of kittens to the regal demeanor of older cats, each feline has a unique personality.
						
						Cats are known for their agility and keen senses. Their whiskers twitch as they navigate the world around them, and their soft purring provides comfort to those lucky enough to be in their presence. A cat's eyes, with their slitted pupils, reflect a sense of mystery and intelligence.
						
						In literature and folklore, cats often symbolize different qualities, ranging from cunning and independence to luck and mystery. Stories of magical or talking cats have been told across cultures, adding to the allure that surrounds these enigmatic creatures.
						
						Whether you're a cat owner or an admirer of these beautiful animals, the charm of cats is universal. Their presence brings joy and warmth to countless households, making them beloved companions and inspiring creativity in the hearts of many.
						</p>
				</div>
				<div class="horizontal-line"></div>
				<div class="community__stats">
					<div class="community__stats-element">Members: 12</div>
					<div class="community__stats-element">Posts: 25</div>
				</div>
				<div class="community__add-post community__add-post--hover"><span class="material-icons">add</span>Add post</div>
				<div class="horizontal-line"></div>
			</div>

			<div class="post">
				<div class="post__header-short">
					<span class="post__header-text">Kocifan</span>
					<span class="post__header-text post__header-text--end">7h ago</span>
				</div>
				<span class="post__title post__title--hover">Funny cat</span>
				<div class="post__content">Funny cats are the ultimate mood boosters. From their playful antics to unpredictable behavior, these furry comedians keep us entertained. Whether they're chasing laser dots, getting into mischievous antics, or simply making silly faces, funny cats have a unique talent for bringing joy and laughter into our lives. With their quirky personalities and hilarious expressions, they remind us to appreciate the lighter side of life.
				</div>
				<div class="post__stats">
					<div class="post__stats-element">
						<span class="material-icons">thumb_up_alt</span>
						&nbsp
						64
					</div>
					<div class="post__stats-element">
						<span class="material-icons">thumb_down_alt</span>
						&nbsp
						8
					</div>
					<div class="post__stats-element">
						<span class="material-icons">question_answer</span>
						&nbsp
						128
					</div>
				</div>
			</div>

			<div class="post">
				<div class="post__header-short">
					<span class="post__header-text">Kocifan</span>
					<span class="post__header-text post__header-text--end">7h ago</span>
				</div>
				<span class="post__title post__title--hover">Funny cat</span>
				<div class="post__content">Funny cats are the ultimate mood boosters. From their playful antics to unpredictable behavior, these furry comedians keep us entertained. Whether they're chasing laser dots, getting into mischievous antics, or simply making silly faces, funny cats have a unique talent for bringing joy and laughter into our lives. With their quirky personalities and hilarious expressions, they remind us to appreciate the lighter side of life.
				</div>
				<div class="post__stats">
					<div class="post__stats-element">
						<span class="material-icons">thumb_up_alt</span>
						&nbsp
						64
					</div>
					<div class="post__stats-element">
						<span class="material-icons">thumb_down_alt</span>
						&nbsp
						8
					</div>
					<div class="post__stats-element">
						<span class="material-icons">question_answer</span>
						&nbsp
						128
					</div>
				</div>
			</div>
		</div> -->

	</div>
	

</body>

</html>