<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Reddit Clone</title>
	<!--sciezka vscode-->
	<!-- <link rel="stylesheet" type="text/css" href="../static/css/default.css">
	<link rel="stylesheet" type="text/css" href="../static/css/style.css">
	<link rel="stylesheet" type="text/css" href="../static/css/material-icons.css"> -->

	<!--sciezka eclipse-->
	<link rel="stylesheet" type="text/css" href="/css/default.css">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<link rel="stylesheet" type="text/css" href="/css/material-icons.css">
	
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
</head>

<body>

	<header th:replace="fragments/header :: header"></header>

</body>

</html>