<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
	<title>Reddit Clone</title>
	<!--sciezka vscode-->
	<link rel="stylesheet" type="text/css" href="../static/css/default.css">
	<link rel="stylesheet" type="text/css" href="../static/css/login.css">
	<!--sciezka eclipse-->
	<!-- <link rel="stylesheet" type="text/css" href="/css/default.css"> 
	<link rel="stylesheet" type="text/css" href="/css/login.css"> -->
</head>
<body>
    <main class="main">
        <form class="form" th:action="@{/login}" th:method="post" th:object="${user}">
            
            <span class="form__title">Log In</span>
        
            <p class="form__text form__text--gap-bottom">
                By continuing, you are setting up a Reddit account and agree to our <a>User Agreement</a> and <a>Privacy Policy</a>. 
            </p>
            

            <div class="form__group">
                <div class="form__field">
                    <label for="login-username" class="form__label">
                        <input id="login-username" class="form__input" type="text" placeholder="Username" th:field="*{username}">
                    </label>
                </div>
                <div class="form__field">
                    <label for="login-password" class="form__label">
                        <input id="login-password" class="form__input" type="password" placeholder="Password">
                    </label>
                </div>

                
                <span class="form__text form__text--gap-bottom">Forgot your <span class="form__link">username</span> or <span class="form__link">password</span>?</span>
                

                <div class="form__field form__field--justify-center">
                    <label for="login-button" class="form__label--submit">
                        <input id="login-button" class="form__input form__input--submit form__input--submit-hover" type="submit" value="Log In">
                    </label>
                </div>
            </div>

            <span class="form__text">New to Reddit? <a class="form__link" href="register">Sign Up</a></span>
            
        </form>
    </main>
</body>
</html>