<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
	<title>Reddit Clone</title>
	<!--sciezka vscode-->
	<!--<link rel="stylesheet" type="text/css" href="../static/css/default.css">
	<link rel="stylesheet" type="text/css" href="../static/css/login.css">-->
	<!--sciezka eclipse-->
	<link rel="stylesheet" type="text/css" href="/css/default.css"> 
	<link rel="stylesheet" type="text/css" href="/css/login.css">
</head>
<body>
    <main>
        <form id="login" th:action="@{/login}" th:method="post" th:object="${user}">
            <div>
                <span class="title-font">Log In</span>
            </div>

            <div class="small-font gap-bottom-bigger">
                <p>
                    By continuing, you are setting up a Reddit account and agree to our <a>User Agreement</a> and <a>Privacy Policy</a>. 
                </p>
            </div>

            <div class="form-fields-container gap-bottom">
                <div class="input-container">
                    <label for="login-username">
                        <input id="login-username" type="text" placeholder="Username" th:field="*{username}">
                    </label>
                </div>
                <div class="input-container" style="margin-bottom: 1rem;">
                    <label for="login-password">
                        <input id="login-password" type="password" placeholder="Password">
                    </label>
                </div>

                <div class="small-font gap-bottom">
                    <span>Forgot your <span class="prominent-link">username</span> or <span class="prominent-link">password</span>?</span>
                </div>

                <div class="input-container justify-center">
                    <label for="login-button" class="submit-button-label">
                        <input id="login-button" class="primary-button" type="submit" value="Log In">
                    </label>
                </div>
            </div>

            <div class="small-font">
                <span>New to Reddit? <a id="show-signup-form" class="prominent-link" href="register">Sign Up</a></span>
            </div>
        </form>
    </main>
</body>
</html>