<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
	<title>Reddit Clone</title>
	<!--sciezka vscode-->
	<!-- <link rel="stylesheet" type="text/css" href="../static/css/default.css">
	<link rel="stylesheet" type="text/css" href="../static/css/login.css"> -->
	<!--sciezka eclipse-->
	<link rel="stylesheet" type="text/css" th:href="@{/css/default.css}"> 
	<link rel="stylesheet" type="text/css" th:href="@{/css/login.css}">
	
    <!--sciezka vscode-->
    <!-- <script src="../static/js/register.js" defer></script> -->

    <!--sciezka eclipse-->
	<script src="/js/register.js" defer></script>
</head>
<body>
    <main>
        <form id="signup" th:action="@{/register}" th:method="post" th:object="${user}">
            <div>
                <span class="title-font">Sign Up</span>
            </div>

            <div class="small-font gap-bottom">
                <p>
                    By continuing, you are setting up a Reddit account and agree to our <a>User Agreement</a> and <a>Privacy Policy</a>. 
                </p>
            </div>

            <div class="small-font gap-bottom">
                <label for="notifications"><input id="notifications" type="checkbox" required>I agree to get emails about cool stuff on Reddit </label>
            </div>

            <div class="form-fields-container gap-bottom">
				<div class="input-container">
                    <label for="signup-username">
                        <input id="signup-username" type="text" placeholder="Username" th:field="*{username}" required autocomplete="new-password" >
                    </label>
                </div>
                <div class="input-container">
                    <label for="signup-email">
                        <input id="signup-email" type="email" placeholder="Email" th:field="*{email}" required autocomplete="new-password">
                    </label>
                </div>
                <div class="input-container">
                    <label for="signup-password">
                        <input id="signup-password" type="password" placeholder="Password" required>
                    </label>
                </div>
                <div class="input-container">
                    <label for="confirm-signup-password">
                        <input id="confirm-signup-password" type="password" placeholder="Confirm password" required>
                    </label>
                </div>
                <div class="input-container justify-center">
                    <label for="signup-button" class="submit-button-label">
                        <input id="signup-button" class="primary-button" type="submit" value="Sign Up">
                    </label>
                </div>
            </div>

            <div class="small-font">
                <span>Already a redditor? <a id="show-login-form" class="prominent-link" href="login">Log in</a></span>
            </div>
        </form>

    </main>
</body>
</html>