<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
	<title>Reddit Clone</title>
	<!--sciezka vscode-->
	<link rel="stylesheet" type="text/css" href="../static/css/default.css">
	<link rel="stylesheet" type="text/css" href="../static/css/login.css">
	<!--sciezka eclipse-->
	<!-- <link rel="stylesheet" type="text/css" th:href="@{/css/default.css}"> 
	<link rel="stylesheet" type="text/css" th:href="@{/css/login.css}"> -->
	
    <!--sciezka vscode-->
    <script src="../static/js/register.js" defer></script>

    <!--sciezka eclipse-->
	<!-- <script src="/js/register.js" defer></script> -->
</head>
<body>
    <main class="main">
        <form class="form" action="#" th:action="@{/register}" th:method="post" th:object="${userDto}">
            <span class="form__title">
                Sign Up
            </span>

            <p class="form__text form__text--gap-bottom">
                By continuing, you are setting up a Reddit account and agree to our <a>User Agreement</a> and <a>Privacy Policy</a>. 
            </p>

            <label for="notifications" class="form__label-newsletter">
                <input id="notifications" type="checkbox">I agree to get emails about cool stuff on Reddit 
            </label>

            <div class="form__group">
				<div class="form__field">
                    <label for="signup-username" class="form__label">
                        <input id="signup-username" class="form__input" type="text" placeholder="Username" th:field="*{username}" required autocomplete="new-password" >
                    </label>
                </div>
                <p class="form__error-message" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></p>
                <div class="form__field">
                    <label for="signup-email" class="form__label">
                        <input id="signup-email" class="form__input" type="email" placeholder="Email" th:field="*{email}" required autocomplete="new-password">
                    </label>
                </div>
                <p class="form__error-message" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
                <div class="form__field">
                    <label for="signup-password" class="form__label">
                        <input id="signup-password" class="form__input" type="password" placeholder="Password" th:field="*{password}" required autocomplete="new-password">
                    </label>
                </div>
                <p class="form__error-message" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
                <div class="form__field">
                    <label for="confirm-signup-password" class="form__label">
                        <input id="confirm-signup-password" class="form__input" type="password" placeholder="Confirm password" th:field="*{passwordMatch}" required autocomplete="new-password">
                    </label>
                </div>
                <p class="form__error-message" th:if="${#fields.hasErrors('global')}" th:each="err : ${#fields.errors('global')}" th:text="${err}"></p>
                <div class="form__field form__field--justify-center">
                    <label for="signup-button" class="form__label--submit">
                        <input id="signup-button" class="form__input form__input--submit form__input--submit-hover" type="submit" value="Sign Up">
                    </label>
                </div>
            </div>

            <span class="form__text">Already a redditor? <a class="form__link" href="login">Log in</a></span>
            
        </form>

    </main>
</body>
</html>