.post {
    position: relative;
    padding: 2rem;
}

.post__header {
    display: flex;
    margin-bottom: 12px;
}

.post__owner-logo {
    width: 40px;
    height: 40px;
    background-color: red;
    border-radius: 40px;
}

.post__header-info {
    margin-left: 12px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.post__header-short {
    display: flex;
}

.post__header-text {
    color: var(--tertiary-bright);
}

.post__header-text--end {
    margin-left: auto;
}

.post__title {
    font-size: large;
    font-weight: bold;
    cursor: pointer;
}

.post__title--hover:hover {
    text-decoration: underline;
}

.post__content {
    overflow: hidden;
    text-align: justify;
}

.post__stats {
    display: flex;
}

.post__stats-element {
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    cursor: default;
}

.post__add-comment {
    width: fit-content;
    display: flex;
    align-items: center;
    border-radius: 64px;
    border: 1px solid var(--tertiary-bright);
    padding: 0.5rem 1rem;
    color: var(--secondary-bright);
    cursor: pointer;
}

.post__add-comment--hover:hover {
    border-color: var(--primary-bright);
    color: var(--primary-bright);
}

.post-edit {
    padding: 2rem;
}

.post-edit__title {
    font-size: large;
    font-weight: bold;
    padding: 1rem;
    margin-bottom: 1rem;
    width: calc(100% - 2rem);
}

.post-edit__content {
    padding: 1rem;
    width: calc(100% - 2rem);
}

.post-edit__controllers {
    display: flex;
    justify-content: flex-end;
}

.post-edit__button {
    color: var(--primary-bright);
    border-radius: 4rem;
    cursor: pointer;
    font-weight: bold;
    padding: 0 1rem;
    height: 2.5rem;
    font-size: 0.9rem;
    margin: 0.5rem;
}

.post-edit__button--submit {
    background-color: var(--primary-color);
}

.post-edit__button--submit-hover:hover {
    background-color: var(--secondary-color);
}

.post-edit__button--cancel {
    background-color: red;
}

.post-edit__button--cancel-hover:hover {
    background-color: purple;
} 